<header>
    <nav>
        <a id="beacon" href="/">
            <div id="home-text"> HOME </div>
        </a>
    </nav>

    <div class="right-sidebar">
        <a class="ext-link" href="https://github.com/chrispenner/">
            <img src="/images/github-logo.png" alt="Github Profile"/>
        </a>

        <a class="ext-link" href="https://twitter.com/chrislpenner">
            <img src="/images/twitter-logo.png" alt="Twitter Profile"/>
        </a>
    <div id="theme-button">DAY</div>
    </div>
</header>
