<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="The Personal blog and musings of Chris Penner, a designer, developer and future opsimath.">
    <meta name="author" content="Chris Penner">
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title>Chris Penner's FP</title>
    <link rel="icon" type="image/png" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>site/templates/header.html}}
<div id="page">
            <section class="table-of-contents">
                <h1>All Posts</h1>
                <div class="metadata">
                </div>
                {{>site/templates/post-list.html}}
        </section>
</div>

{{>site/templates/footer.html}}
