<!DOCTYPE html>
<html lang="en"> 
<head profile="http://www.w3.org/2005/10/profile">
    <meta charset="UTF-8">
    <meta name="description" content="Chris Penner's FP">
    <meta name="author" content="{{author}}">
    <meta name=viewport content="width=device-width, initial-scale=1">
    {{>site/templates/meta-data.html}}
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>
    {{>site/templates/header.html}}

<div id="page">
    <div class="wrapper">
        <div class="masthead">
            <span class="title">
                {{title}}
            </span>
            <br>

            {{#image}}
            <img class="post-image" src="/images/{{image}}">
            {{/image}}
            <br>
            {{#author}}
            <span class="byline">by {{author}}</span>
            {{/author}}
            <br>
            <span class="date">{{date}}</span>
            <br>
            <div class="metadata">
            </div>
        </div>
    </div>
    <article class="post">
        {{{content}}}

        <br>
        <br>

        <!--Share buttons-->
        <div class="social-buttons">
            <a href="https://twitter.com/share" class="twitter-share-button"
                data-url="http://chrispenner.ca{{#stripExt}}{{url}}{{/stripExt}}" data-text="Check out: {{title}} - " data-via="chrislpenner">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <a href="https://twitter.com/chrislpenner" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @chrislpenner</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            <div class="fb-like" data-href="http://chrispenner.ca{{#stripExt}}{{url}}{{/stripExt}}" data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
</article>

</div>

{{>site/templates/footer.html}}
