/* CSS Reset */
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, em, img, ol, ul, li {
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* Variables */
html {
  font-family: georgia, serif;
  color: #333;
  background: #FFFFFC;
  background: -webkit-linear-gradient(top, #EEE 0%, #FFF 10%, #FFF 90%, #EEE 100%);
  background: linear-gradient(to bottom, #EEE 0%, #FFF 10%, #FFF 90%, #EEE 100%);
  background-attachment: fixed;
  height: 100%;
  width: 100%;
  z-index: -10; }
  html.dark {
    background: #333;
    background: -webkit-linear-gradient(top, #2a2a2a 0%, #333 10%, #333 90%, #2a2a2a 100%);
    background: linear-gradient(to bottom, #2a2a2a 0%, #333 10%, #333 90%, #2a2a2a 100%);
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    color: #DDD; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

h2 {
  font-family: inherit;
  font-size: 1.25em;
  font-variant: small-caps;
  text-align: center;
  width: 80%;
  margin: 0 auto 0;
  border-top: 1px solid #777;
  margin-top: 1em;
  padding: 1em 0 0 0; }

h3 {
  font-size: 1.4em;
  margin: 0.5em 0;
  text-align: center; }

blockquote {
  width: 90%;
  margin: 0.7em auto;
  text-align: center;
  padding-left: 0.5em;
  font-size: 1.1em;
  font-style: italic;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  blockquote > p {
    padding-left: 7px;
    border-left: 5px solid rgba(76, 76, 76, 0.9);
    margin: auto; }

ul, ol {
  list-style-position: inside;
  margin: 1em 0 1em 2em; }

li {
  margin-bottom: 0.7em;
}



em {
  font-weight: bold;
  font-style: italic; }

img {
  margin: auto; }

a, a:visited, a:hover {
  color: #EB005B;
  text-decoration: none;
  -webkit-transition: color 0.1s;
          transition: color 0.1s; }
  a:hover, a:visited:hover, a:hover:hover {
    color: #EB0978;
    text-decoration: underline; }

header {
  position: fixed;
  /*color: $night-white;*/
  top: 0;
  height: 4em;
  width: 100%; }

footer {
  font-size: 0.8em;
  min-height: 200px;
  padding: 1em;
  color: #888;
  text-align: center;
  clear: both; }

.photo {
  border-radius: 25px;
  border: 1px solid black; }

.blog {
  display: table;
  width: 100%;
  height: 100%;
  margin: auto; }

.title {
  font-family: "Quicksand", helvetica, sans-serif;
  font-weight: 400;
  font-size: 3em;
  text-transform: capitalize; }

.byline {
  font-family: helvetica, sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 1em; }

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.masthead {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
  -webkit-align-items: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 100%;
  min-height: 400px;
  padding: 2em 10px;
  text-align: center;
  margin: auto; }

.post-image {
  height: auto;
  width: 400px;
  max-width: 400px; }

.metadata {
  text-align: center; }

.date {
  color: rgba(128, 128, 128, 0.5);
  font-size: 0.9em;
  font-style: italic;
  line-height: 2em;
  font-family: helvetica, sans-serif; }

.categories, .tags {
  color: rgba(128, 128, 128, 0.5);
  font-size: 0.9em;
  font-style: italic;
  line-height: 2em;
  font-family: helvetica, sans-serif;
  width: 100%;
  max-width: 500px;
  display: block;
  margin: auto; }

a.tag, a.category {
  padding: 0px 8px;
  margin: 2px 1px;
  border-radius: 4px;
  display: inline-block;
  color: #333;
  border: 1px solid rgba(76, 76, 76, 0.9);
  -webkit-transition: 0.3s;
          transition: 0.3s; }
  a.tag:hover, a.category:hover {
    background: #333;
    color: #FFFFFC;
    text-decoration: none; }
  .dark a.tag, .dark a.category {
    color: #DDD; }
    .dark a.tag:hover, .dark a.category:hover {
      background: #DDD;
      color: #333;
      text-decoration: none; }

.post {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: auto;
  min-width: 100px;
  max-width: 720px;
  /*min-height: 100%;*/
  padding: 0px 20px;
  margin: 3em auto;
  -webkit-transition: color 2s;
          transition: color 2s;
  font-size: 1.1em; }
  .post p {
    line-height: 1.6em;
    letter-spacing: 0.02em;
    margin: 0.5em 0 0 0;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    word-break: break-word; }
  .post p + p {
    margin-top: 1em; }
  .post > p:first-of-type:first-letter {
    font-size: 8em;
    line-height: 0.1em;
    padding-right: 0.06em; }
  .post ul {
    list-style-type: disc;
    text-indent: -1em; }
    .post ul li {
      line-height: 1.3em;
      letter-spacing: 0.05em;
      margin: 0.5em 0 0 0;
      -webkit-hyphens: auto;
         -moz-hyphens: auto;
          -ms-hyphens: auto;
              hyphens: auto;
      word-break: break-word; }

.post img {
  max-width: 100%;
  margin: auto;
  display: block;
}

.table-of-contents {
  clear: both;
  width: 100%; }
  .table-of-contents h1 {
    font-size: 3em;
    text-align: center;
    font-family: "Quicksand", helvetica, sans-serif; }
  .table-of-contents ul {
    margin: 3em 0;
    list-style: none; }
  .table-of-contents li {
    width: 100%; }
    .table-of-contents li a {
      color: #333;
      font-weight: normal;
      box-sizing: border-box;
      border-top: 1px solid #444;
      display: block;
      width: 50%;
      min-width: 300px;
      margin: 0 auto;
      padding: 1em 0.5em 1em 0;
      -webkit-transition: color 0.7s, background 0.7s, padding 0.5s;
              transition: color 0.7s, background 0.7s, padding 0.5s; }
      .table-of-contents li a .date {
        float: right;
        margin-top: -0.25em;
        color: rgba(128, 128, 128, 0.8); }
      .table-of-contents li a:hover {
        background: #333;
        color: #FFFFFC;
        text-decoration: none;
        padding-left: 2em; }
  .dark .table-of-contents ul a {
    color: #DDD; }
    .dark .table-of-contents ul a:hover {
      background: #DDD;
      color: #333;
      padding-left: 2em; }

.arrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  width: 1.5em;
  height: 1.5em;
  background: #DDD;
  /*display: table-cell;*/
  /*vertical-align: middle;*/
  text-align: center;
  /*padding-top: 0.14em;*/
  box-sizing: border-box;
  border-radius: 0.75em;
  opacity: 0.7;
  -webkit-transition: background 0.5s, opacity 0.5s, width 0.5s;
          transition: background 0.5s, opacity 0.5s, width 0.5s;
  cursor: pointer; }
  .arrow:hover {
    box-sizing: border-box;
    width: 2em;
    color: #EB005B;
    border: 1px solid #EB005B;
    opacity: 0.9;
    background: #FFFFFC;
    -webkit-transition: background 0.5s, opacity 0.5s, width 0.5s;
            transition: background 0.5s, opacity 0.5s, width 0.5s;
    text-decoration: none; }
  .dark .arrow {
    background: #222; }
    .dark .arrow:hover {
      color: #C00762;
      border-color: #C00762; }

.social-buttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em 0; }
  .social-buttons > div {
    /*margin: 0 1em;*/ }
  .social-buttons .twitter-share-button {
    max-width: 90px;
    margin-right: 5px; }

.center {
  text-align: center;
  margin: auto; }

.monochrome {
  color: #333; }
  .dark .monochrome {
    color: #DDD; }

.gem-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: auto;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .gem-info table {
    border: 1px solid #333;
    border-collapse: collapse; }
    .gem-info table td {
      border: 1px solid #333;
      padding: 0.4em 1em; }
  .dark .gem-info table {
    border: 1px solid #DDD; }
    .dark .gem-info table td {
      border: 1px solid #DDD; }

.pager-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .pager-title span {
    text-align: center; }

.pager article {
  margin-top: 2em; }

.dark #disqus_thread {
  color: #DDD; }

#page {
  margin: 4em 0; }

#theme-button {
  text-transform: uppercase;
  font-family: "Quicksand", helvetica, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  -webkit-transition: opacity 0.5s, color 2s;
          transition: opacity 0.5s, color 2s;
  opacity: 0.6; }
  #theme-button:hover {
    opacity: 1; }
  .dark #theme-button {
    color: #DDD; }

#beacon {
  font-family: "Oswald", helvetica, sans-serif;
  font-size: 4em;
  height: 1.5em;
  width: 1.5em;
  text-align: center;
  margin: 0.1em;
  position: absolute;
  border-radius: 0.1em;
  opacity: 0.4;
  -webkit-transition: opacity 0.5s;
          transition: opacity 0.5s;
  color: inherit; }
  #beacon path {
    fill: currentColor; }
  #beacon .logo {
    width: 100%;
    height: 100%; }
  #beacon:hover {
    opacity: 1;
    text-decoration: none; }

#home-text {
  font-size: 0.8em;
}

#leftarrow {
  position: fixed;
  left: 5px;
  top: calc(50% - 15px);
  text-decoration: none; }

#rightarrow {
  position: fixed;
  right: 10px;
  top: calc(50% - 15px);
  text-decoration: none; }

@media only screen and (max-width: 750px) {
  header {
    color: #FFFFFC;
    height: 3em;
    background: rgba(76, 76, 76, 0.9); }

  #beacon {
    color: #FFFFFC;
    font-size: 2em;
    margin: 0; }

  #theme-button {
    color: #FFFFFC;
    font-size: 1.5em;
    top: 0.5em;
    right: 0.2em;
    opacity: 0.5; } }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  h2 {
    border-top: 3px solid #777; }

  .page {
    min-width: none;
    max-width: none;
    width: auto;
    padding: 0 1em;
    margin: 0;
    box-sizing: border-box; }

  .page p {
    padding-bottom: 1em;
    font-size: 1em;
    line-height: 1.8em; }

  .post-image {
    height: auto;
    width: auto;
    max-width: 280px; }

  .page > p:first-of-type:first-letter {
    font-size: 4em;
    line-height: 0.1em; } }
@media only screen and (max-height: 450px) {
  .masthead {
    min-height: 350px; } }

.ext-link img {
  width: 32px;
  height: 32px;
}

.right-sidebar {
  position: absolute;
  top: 0.75em;
  right: 0.7em;
  display: flex;
}

.right-sidebar > * {
  margin-left: 12px;
}

/*# sourceMappingURL=style.css.map */
